.container{
    height: 1000px;
    border: 1px solid red;
    background-color: yellow;
    
    /* creating grid */
    display: grid;

    /* creating grid having 4 rows each 1 fr */
    grid-template-rows: repeat(4,1fr);

    /* creating grid having 3 columns each 1 fr */
    grid-template-columns: repeat(3,1fr);

    /* to set the the gap between grids */
    gap: 20px;
}

.box{
    border: 1px solid green;
    background-color: aqua;
    /* height: 100px;
    width: 100px; */
   
}

#box1{
    /* these number represents the lines  */
    /* grid-row-start: 1;
    grid-row-end: 1;
    grid-column-end: 4 ;
    grid-column-start: 1; */

    /* in place of these four we can use grid ares function to minimize coding */
    grid-area: 1/1/1/4;
}
